@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --slib-blue: #56B5FF;
    --slib-dark-blue: #3366FF;
    --slib-green: #30CB00;
    --slib-yellow: #FFDB00;
    --slib-orange: #F97300;
    --slib-red: #EF2200;
    --slib-purple: #9C0FBF;
    --slib-pink: #EA1AB7;
    --slib-dark: #0D0D0D;
    --slib-blue-rgb: 86, 181, 255;
    --slib-dark-blue-rgb: 51, 102, 255;
    --slib-green-rgb: 48, 203, 0;
    --slib-yellow-rgb: 255, 219, 0;
    --slib-orange-rgb: 249, 115, 0;
    --slib-red-rgb: 239, 34, 0;
    --slib-purple-rgb: 156, 15, 191;
    --slib-pink-rgb: 234, 26, 183;
    --slib-dark-rgb: 13, 13, 13;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
}

* {
    scroll-behavior: smooth !important;
}


/* COLOR */

.text-blue {
    color: var(--slib-blue) !important;
}

.text-dark-blue {
    color: var(--slib-dark-blue) !important;
}

.text-green {
    color: var(--slib-green) !important;
}

.text-yellow {
    color: var(--slib-yellow) !important;
}

.text-orange {
    color: var(--slib-orange) !important;
}

.text-red {
    color: var(--slib-red) !important;
}

.text-purple {
    color: var(--slib-purple) !important;
}

.text-pink {
    color: var(--slib-pink) !important;
}

.text-white {
    color: white !important;
}

.text-black {
    color: black !important;
}


/* BACKGROUND */

.bg-blue {
    background-color: var(--slib-blue) !important;
}

.bg-dark-blue {
    background-color: var(--slib-dark-blue) !important;
}

.bg-green {
    background-color: var(--slib-green) !important;
}

.bg-yellow {
    background-color: var(--slib-yellow) !important;
}

.bg-orange {
    background-color: var(--slib-orange) !important;
}

.bg-red {
    background-color: var(--slib-red) !important;
}

.bg-purple {
    background-color: var(--slib-purple) !important;
}

.bg-pink {
    background-color: var(--slib-pink) !important;
}


/* WIDTH */

.w-auto {
    width: auto !important;
}

.w-0 {
    width: 0 !important;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-100 {
    width: 100% !important;
}


/* HEIGHT */

.h-auto {
    height: auto !important;
}

.h-0 {
    height: 0 !important;
}

.h-25 {
    height: 25% !important;
}

.h-50 {
    height: 50% !important;
}

.h-100 {
    height: 100% !important;
}


/* DISPLAYS */

.d-inline {
    display: inline !important;
}

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

.d-none {
    display: none !important;
}

.d-grid {
    display: grid !important;
}


/* TEXT */

h1,
.h1 {
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

h2,
.h2 {
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: 1.75rem;
}

h3,
.h3 {
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

h4,
.h4 {
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: 1.25rem;
}

h5,
.h5 {
    font-size: 1.25rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

h6,
.h6 {
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: .75rem;
}

.headline-1 {
    font-size: 5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.headline-2 {
    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.headline-3 {
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.headline-4 {
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

p,
.p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

mark,
.mark {
    display: inline-block !important;
    padding: 2px 4px !important;
    background-color: var(--slib-yellow) !important;
    border-radius: 3px !important;
}

a[href] {
    color: var(--slib-dark-blue);
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline solid;
}

code:not(.inline),
.code:not(.inline),
code.block,
.code.block {
    display: inline-block !important;
    padding: 5px 10px !important;
    background-color: rgba(120, 120, 120, .1) !important;
    border-radius: 3px !important;
    font-size: .9rem;
    margin-top: .75rem !important;
    margin-bottom: .75rem !important;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace !important;
}

p code:not(.block),
p .code:not(.block),
code.inline,
.code.inline {
    padding: 2px 4px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

ul {
    padding-left: 1.5rem !important;
}

ul>ul {
    padding-left: 1.2rem !important;
}

.separator {
    display: block !important;
    width: 100% !important;
    height: 1px !important;
    border: none !important;
    background-color: var(--slib-dark) !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px !important;
}


/* BUTTONS */

.btn {
    display: inline-block !important;
    padding: 7px 12px !important;
    background-color: transparent;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    cursor: pointer !important;
    transition: background-color 100ms !important;
    margin: 4px;
    text-decoration: none !important;
}

.btn-circle {
    height: 2rem !important;
    width: 2rem !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 100% !important;
}

.btn-sm {
    padding: 5px 10px !important;
    font-size: .8rem !important;
}

.btn-lg {
    padding: 8px 13px !important;
    font-size: 1.2rem !important;
}

.btn-light {
    border-color: rgba(var(--slib-dark-rgb), 0.15) !important;
}

.btn-light:hover {
    background-color: #e6e6e6 !important;
}

.btn-dark {
    background-color: var(--slib-dark) !important;
    color: white !important;
}

.btn-dark:hover {
    background-color: #3d3d3d !important;
}

.btn-blue {
    background-color: var(--slib-dark-blue) !important;
    color: white !important;
}

.btn-blue:hover {
    background-color: #5b84ff !important;
}

.btn-green {
    background-color: var(--slib-green) !important;
    color: white !important;
}

.btn-green:hover {
    background-color: #78f49f !important;
}

.btn-yellow {
    background-color: var(--slib-yellow) !important;
    color: var(--slib-dark) !important;
}

.btn-yellow:hover {
    background-color: #feeb7c !important;
}

.btn-orange {
    background-color: var(--slib-orange) !important;
    color: white !important;
}

.btn-orange:hover {
    background-color: #ffbf84 !important;
}

.btn-red {
    background-color: var(--slib-red) !important;
    color: white !important;
}

.btn-red:hover {
    background-color: #f0676a !important;
}

.btn-purple {
    background-color: var(--slib-purple) !important;
    color: white !important;
}

.btn-purple:hover {
    background-color: #bb84d6 !important;
}

.btn-pink {
    background-color: var(--slib-pink) !important;
    color: white !important;
}

.btn-pink:hover {
    background-color: #eb93d3 !important;
}


/* ITEMS RANGE */

.items-range {
    display: flex !important;
    flex-direction: row !important;
}

.items-range.col {
    flex-direction: column !important;
}

.items-range>.item:first-child {
    flex: 2 !important;
}

.items-range>.item {
    flex: 1 !important;
    transition: flex 200ms;
}

.items-range:hover>.item:first-child:not(:hover) {
    flex: 1 !important;
}

.items-range>.item:hover {
    flex: 2 !important;
}


/* ALIGNMENT */

.justify-content-start {
    justify-content: start !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-end {
    justify-content: end !important;
}

.align-items-fstart {
    align-items: flex-start !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-fend {
    align-items: flex-end !important;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}